<!-- 
<div class="text-layout">
    <h1> {{ name | titlecase}} </h1>
    
    <button
    pButton
    class="p-button-help"
    (click)="mostrarNombre()"
    label="Cambiar Nombre"
    icon="pi pi-check"
    iconPos='right'
    >
    </button>

    <p-card [header]="name | titlecase"
            subheader="Este es un subheader"        >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt vel distinctio dolore pariatur laborum sunt necessitatibus? Neque, distinctio saepe? Sed, obcaecati a. Libero quos quas blanditiis repellat non, facilis ab, fugiat ea atque autem tenetur numquam culpa dolores, sunt velit repudiandae? Aliquam autem perferendis voluptates vel voluptatibus molestias quasi itaque.
    </p-card>


</div>
 -->

 <app-menu></app-menu>
 <router-outlet></router-outlet>